.indexMain {
  .chartsContainer {
    width: 20%;
    height: 100%;
    background-color: red;
  }

  .dataTableContainer {
    width: 75%;
    height: 100%;
    margin: auto;
    overflow: auto;

    .searchBoxContainer {
      margin-top: 5%;
      display: flex;
      justify-content: flex-end;
    }
  }
}
